.textField {
  width: 100px !important;
}

.text {
  width: 100px;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-weight: bolder;
}

.text1 {
  background-color: red;
}
.text2 {
  background-color: green;
}

.text3 {
  background-color: blue;
}
.var {
  background-color: yellow;
  color: black !important;
}
